[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=puma
ExecStart=/bin/bash -lc '/usr/local/bin/puma'
WorkingDirectory=/var/puma/reddit
Restart=always

[Install]
WantedBy=multi-user.target
